[submodule "site/themes/hugo-xmag"]
	path = site/themes/hugo-xmag
	url = https://github.com/yihui/hugo-xmag.git
[submodule "site/themes/hyde-hyde"]
	path = site/themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
